{% extends 'main.html' %}

{% block content %}
    <div class="sh-center-form">
        <h2>Login</h2>
        <form method="post" class="aa-login-form">
            <div>
                {% csrf_token %}
                {{ form }}
                <button class="aa-browse-btn" type="submit">Sign up</button>
            </div>
        </form>
        <div class="aa-register-now shop_register" style="clear: both; margin-top: 20px; padding-top: 10px;">
            Don't have an account? <a href="{% url 'registration_form' %}">Register now!</a>
        </div>
    </div>


{% endblock %}